* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: black;
    text-decoration: none;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    color: black;
}

ul {
    list-style: none;
}

ul .list-default {
    padding-left: 30px;
    margin-bottom: 10px;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

.fh {
    height: 100%;
}

.flex-cncc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.flex-cncfe {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-rwfsc {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-rwfssb {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-rwcc {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flex-rwcfe {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-rwcfs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-rwcsa {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-rwcsb {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-rwfefs {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.flex-rwfesb {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.flex-rwfsc {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.fw {
    width: 100%;
}

.heading {
    padding: 5px;
}

.icon-x1 {
    width: 12px;
    height: 12px;
}

.icon-x2 {
    width: 24px;
    height: 24px;
}

.icon-x3 {
    width: 36px;
    height: 36px;
}

.icon-x4 {
    width: 48px;
    height: 48px;
}

.icon-x5 {
    width: 60px;
    height: 60px;
}

.img-contain {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.img-cover {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.img-w {
    width: 100%;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

.relativelen-0 {
    flex: 0 1 auto;
}

.relativelen-1 {
    flex: 1 1 auto;
}

.relativelen-2 {
    flex: 2 1 auto;
}

.relativelen-3 {
    flex: 3 1 auto;
}

.relativelen-4 {
    flex: 4 1 auto;
}

.relativelen-5 {
    flex: 5 1 auto;
}

.relativelen-6 {
    flex: 6 1 auto;
}

.relativelen-7 {
    flex: 7 1 auto;
}

.relativelen-8 {
    flex: 8 1 auto;
}

.relativelen-9 {
    flex: 9 1 auto;
}

.relativelen-10 {
    flex: 10 1 auto;
}

.relativelen-11 {
    flex: 11 1 auto;
}

.relativelen-12 {
    flex: 12 1 auto;
}

.row-same-height {
    display: block;
    flex-flow: row wrap;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.torso {
    padding: 5px;
}

@media screen and (min-width: 992px) {
    .row-same-height {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {

}

/*<!-- block grid -->*/
[class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
    *zoom: 1; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
[class*="block-grid-"]:after {
    clear: both; }
[class*="block-grid-"] > li {
    height: auto;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
    [class*="small-block-grid-"] > li {
        float: left;
    }

    .small-block-grid-1 > li {
        width: 100%;
    }
    .small-block-grid-1 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .small-block-grid-2 > li {
        width: 50%;
    }
    .small-block-grid-2 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .small-block-grid-3 > li {
        width: 33.33333%;
    }
    .small-block-grid-3 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .small-block-grid-4 > li {
        width: 25%;
    }
    .small-block-grid-4 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .small-block-grid-5 > li {
        width: 20%;
    }
    .small-block-grid-5 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .small-block-grid-6 > li {
        width: 16.66667%;
    }
    .small-block-grid-6 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .small-block-grid-7 > li {
        width: 14.28571%;
    }
    .small-block-grid-7 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .small-block-grid-8 > li {
        width: 12.5%;
    }
    .small-block-grid-8 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .small-block-grid-9 > li {
        width: 11.11111%;
    }
    .small-block-grid-9 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .small-block-grid-10 > li {
        width: 10%;
    }
    .small-block-grid-10 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .small-block-grid-11 > li {
        width: 9.09091%;
    }
    .small-block-grid-11 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .small-block-grid-12 > li {
        width: 8.33333%;
    }
    .small-block-grid-12 > li:nth-of-type(n) {
        clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }
@media only screen and (min-width: 768px) {
    [class*="medium-block-grid-"] > li {
        float: left;
    }

    .medium-block-grid-1 > li {
        width: 100%;
    }
    .medium-block-grid-1 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .medium-block-grid-2 > li {
        width: 50%;
    }
    .medium-block-grid-2 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .medium-block-grid-3 > li {
        width: 33.33333%;
    }
    .medium-block-grid-3 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .medium-block-grid-4 > li {
        width: 25%;
    }
    .medium-block-grid-4 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .medium-block-grid-5 > li {
        width: 20%;
    }
    .medium-block-grid-5 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .medium-block-grid-6 > li {
        width: 16.66667%;
    }
    .medium-block-grid-6 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .medium-block-grid-7 > li {
        width: 14.28571%;
    }
    .medium-block-grid-7 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .medium-block-grid-8 > li {
        width: 12.5%;
    }
    .medium-block-grid-8 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .medium-block-grid-9 > li {
        width: 11.11111%;
    }
    .medium-block-grid-9 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .medium-block-grid-10 > li {
        width: 10%;
    }
    .medium-block-grid-10 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .medium-block-grid-11 > li {
        width: 9.09091%;
    }
    .medium-block-grid-11 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .medium-block-grid-12 > li {
        width: 8.33333%;
    }
    .medium-block-grid-12 > li:nth-of-type(n) {
        clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }
@media only screen and (min-width: 992px) {
    [class*="large-block-grid-"] > li {
        float: left;
    }

    .large-block-grid-1 > li {
        width: 100%;
    }
    .large-block-grid-1 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .large-block-grid-2 > li {
        width: 50%;
    }
    .large-block-grid-2 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .large-block-grid-3 > li {
        width: 33.33333%;
    }
    .large-block-grid-3 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .large-block-grid-4 > li {
        width: 25%;
    }
    .large-block-grid-4 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .large-block-grid-5 > li {
        width: 20%;
    }
    .large-block-grid-5 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .large-block-grid-6 > li {
        width: 16.66667%;
    }
    .large-block-grid-6 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .large-block-grid-7 > li {
        width: 14.28571%;
    }
    .large-block-grid-7 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .large-block-grid-8 > li {
        width: 12.5%;
    }
    .large-block-grid-8 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .large-block-grid-9 > li {
        width: 11.11111%;
    }
    .large-block-grid-9 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .large-block-grid-10 > li {
        width: 10%;
    }
    .large-block-grid-10 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .large-block-grid-11 > li {
        width: 9.09091%;
    }
    .large-block-grid-11 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .large-block-grid-12 > li {
        width: 8.33333%;
    }
    .large-block-grid-12 > li:nth-of-type(n) {
        clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }