.divider-vertical {
    height: 100%;
    border-left: 1px solid white;
}

.footer {
    background-color: #E5E2DC;
    padding: 20px;
}

.logo {
    height: 80px;

    padding: 10px;
}

.main {
    margin-bottom: 40px;
}

.main-container {
    margin-top: 80px;
}

.main-slider .owl-item .item {
    height: 60vw;

    position: relative;
}

.main-slider .slider-background {
    height: 100%;
}

.main-slider .slider-caption {
    width: 60%;
    height: 100%;

    color: white;
    position: absolute;
    text-shadow: 1px 1px 1px black;
    top: 0;
    left: 40%;
}

.map-holder {
    width: 100%;
    height: 300px;
}

.mgb1 {
    margin-bottom: 10px;
}

.mgb2 {
    margin-bottom: 20px;
}

.mgb3 {
    margin-bottom: 30px;
}

.mgb4 {
    margin-bottom: 40px;
}

.navbar-nav > li > a {
    border-bottom: 3px solid transparent;
    font-weight: bold;
    text-transform: uppercase;
    transition: border-color 0.3s, color 0.3s;
}

.navbar-nav > li > a:hover {
    border-bottom: 3px solid #ff8000;
}

.navbar-nav > .active > a {
    border-color: #ff8000;
}

.owl-carousel .owl-controls .owl-buttons > div {
    background: none;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 16px);
    z-index: 100;
}

.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 0;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 0;
}

.owl-carousel .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-pagination {
    width: 100%;

    position: absolute;
    bottom: 0;
}

.owl-carousel .owl-controls .owl-page span {
    background: white;
    opacity: 1;
}

.owl-carousel .owl-controls .owl-page.active span {
    background: #ff6400;
}

.pdt2 {
    padding-top: 20px;
}

.slider-caption .btn {
    font-size: 10px;
    padding: 3px 6px;
}

.slider-caption-title {
    font-size: 12px;
}

.slider-caption-description {
    font-size: 8px;
}

.text-highlight {
    color: #ff6400;
}

@media screen and (min-width: 768px) {

    .feature .row-same-height [class*="col-md-"]:not(:last-child) {
        border-right: 1px solid black;
    }

    .main-slider .owl-item .item {
        height: calc(100vh - 80px);
    }

    .main-slider .slider-caption {
        width: 50%;

        left: 50%;
    }

    .navbar-collapse > .nav.navbar-nav:not(:last-child) {
        border-right: 1px solid white;
    }

    .navbar-custom {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .slider-caption .btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    .slider-caption-title {
        font-size: 32px;
    }

    .slider-caption-description {
        font-size: initial;
    }
}